{{ $mini := .Resources.GetMatch (printf "%s_128.jpg" .Params.photo) }}
{{ $aspectRatio := div $mini.Width (float $mini.Height) }}
{{ $id := printf "item-%s" ($mini.Content | md5 | truncate 10 "") }}

<style>
#{{ $id }} {
    /* this is the aspect ratio of the phone * the effective max height (100vh - vertical padding)
     * it makes sure the photo's height is properly constrained with the padding aspect ratio below
     */
    max-width: {{ mul $aspectRatio (sub 100 12) }}vh;
}

#{{ $id }} picture {
    {{ with $mini }}
    {{/* padding based forced aspect ratio */}}
    padding-bottom: {{ (mul (div .Height (float .Width)) 100) }}%;
    height: 0;
    {{ end }}
    {{ with .Params.color }}
    {{/* fallback/preloading image */}}
    {{/* with .Params.color.average }}
    background-color: {{ . }};
    {{ end */}}
    background-image: url(data:image/svg+xml,{{ partial "placeholder.svg" . | safeHTML }});
    {{ end }}
}
</style>

<li id="{{ $id }}" class="photo-item post-link">
    <!-- this outer container forces the padding based aspect ratio to be constrained to the height of the page -->
    <a href="{{ .RelPermalink }}" target="_blank">
        <picture title="{{ .Title }}">
            <source media="(max-width: 640px)" srcset="https://content.camlittle.com/photos/{{ .Params.photo }}_640.webp" type="image/webp" />
            <source media="(max-width: 640px)" srcset="https://content.camlittle.com/photos/{{ .Params.photo }}_640.jpg" />
            <source srcset="https://content.camlittle.com/photos/{{ .Params.photo }}_1280.webp" type="image/webp" />
            <source srcset="https://content.camlittle.com/photos/{{ .Params.photo }}_1280.jpg" />
            <img src="https://content.camlittle.com/photos/{{ .Params.photo }}_1280.jpg" />
        </picture>
    </a>
</li>
