/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

:root {
    --background: #fff;
    --body-text: #222;
    --text: #333;
    --text-hover: #000;
    --anchor: darkslateblue;
    --anchor-engaged: slateblue;
    --anchor-visited: darkmagenta;
    --code-bg: #f8f8f8;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --body-text: #ddd;
        --text: #ccc;
        --text-hover: #fff;
        --anchor: skyblue;
        --anchor-engaged: fuchsia;
        --anchor-visited: violet;
        --code-bg: #121212;
    }
}

a {
    color: var(--anchor);

    &:focus,
    &:hover,
    &:active {
        color: var(--anchor-engaged);
    }

    &:visited {
        color: var(--anchor-visited);
    }
}

body {
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--body-text);
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

#container {
    width: auto;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1.5em;
    perspective: 100px;
}

header {
    text-align: center;

    @media only screen and (min-width: 45em) {
        text-align: left;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    & h1 {
        color: var(--text);
        font-size: 300%;
        font-weight: 200;
        font-family: Georgia, serif;
        padding: 0;
        margin: 0;

        & a {
            &,
            &:visited,
            &:focus,
            &:hover {
                color: var(--text);
                text-decoration: none;
                border-bottom: none;
            }

            &:hover {
                color: var(--text-hover);
            }
        }

        & small {
            font-size: 50%;
            display: block;
            margin-bottom: 6px;

            @media only screen and (min-width: 45em) {
                display: inline;
                padding-left: 0.4em;
            }

            & i {
                padding: 0 0.2em;
            }
        }
    }
}

h2 {
    font-size: 170%;
    font-weight: 300;
    font-family: Georgia, serif;
    margin-bottom: .6em;

    & a {
        &,
        &:visited {
            color: var(--text);
            text-decoration: none;
            border-bottom: none;
        }

        &:focus,
        &:hover {
            color: var(--text);
            text-decoration: none;
            border-bottom: none;
        }
    }
}

h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: .6em;
    font-weight: 400;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 117%;
}

h6 {
    font-size: 108%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 1px dotted var(--text);
}

a,
a:visited {
    text-decoration: none;
    border-bottom: 1px dotted;
}

input[type=submit] {
    line-height: 20px;
    color: #fdf6e3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #cb4b16;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 3px 4px 2px;
}

input[type=text], textarea,
:input-placeholder {
    background-color: #fdf6e3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #c2a586;
}

input[type=text], textarea {
    border: 1px dotted #cb4b16;
}

#sidebar {
    text-align: center;

    @media only screen and (min-width: 45em) {
        margin-bottom: 2em;
        margin-right: 2em;
        width: 10em;
        text-align: left;
        float: left;
    }

    & nav {
        margin-bottom: 12px;
        font-family: Georgia, serif;

        & ul {
            margin: 0;
            padding-left: 0;

            & > li {
                padding: 0;
                list-style: none;
                display: inline;
                margin-left: 0.3em;
                margin-bottom: 0.2em;

                @media only screen and (min-width: 45em) {
                    display: block;
                    margin-left: 0;
                }
            }
        }
    }
}

nav {
    color: var(--text);
	font-size: 120%;

    & a {
        border-bottom: none;
        text-decoration: none;
        color: var(--text);
        background-position-x: 0;

        &:visited {
            color: var(--text);
            border-bottom: none;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
            color: var(--text-hover);
            border-bottom: none;
        }
    }
}

.posts {
    margin: 0;
    padding: 0;

    & .post-link {
        list-style: none;
        margin: 0 0 1em;
        padding: 0;
        position: relative;
        overflow: hidden;
        zoom: 1;

        & .date {
            margin: 0;
        }

        & h3 {
            margin: 0;
        }
    }

    & .thumb {
        float: left;
        margin-right: 1em;
        overflow: hidden;
        border: 1px dotted #666;
        width: 66px;
        height: 66px;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    & .post-desc {
        overflow: hidden;
        zoom: 1;
    }
}

main {
    scroll-behavior: smooth;

    @media only screen and (min-width: 45em) {
        margin-left: 12em;
    }

    & img,
    & video {
        max-width: 100%;
        height: auto;
    }

    & p,
    & blockquote,
    & img,
    & video,
    & figure {
        margin-bottom: 14px;
    }
}

iframe {
    max-width: 100%;
}

canvas {
    border: 1px dotted var(--text);
}

footer {
    text-align: left;
    font-size: 90%;
    margin-bottom: 2em;
}

pre, code {
    font-family: monospace;
}

pre {
    padding: 0.5em 1em;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

pre code {
    background-color: inherit;
    color: inherit;
}

/* syntax highlighting */
/* rougify style github > assets/css/highlight-github.css */
code {
    background-color: var(--code-bg);
    padding: 2px 4px;
}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  background-color: var(--code-bg);

  & code {
    padding: 0;
  }
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}

@media (prefers-color-scheme: dark) {
    .highlight, .highlight .w {
      color: #f8f8f2;
      background-color: #272822;
    }
    .highlight .err {
      color: #272822;
      background-color: #f92672;
    }
    .highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
      color: #75715e;
    }
    .highlight .cp {
      color: #f4bf75;
    }
    .highlight .nt {
      color: #f4bf75;
    }
    .highlight .o, .highlight .ow {
      color: #f8f8f2;
    }
    .highlight .p, .highlight .pi {
      color: #f8f8f2;
    }
    .highlight .gi {
      color: #a6e22e;
    }
    .highlight .gd {
      color: #f92672;
    }
    .highlight .gh {
      color: #66d9ef;
      background-color: #272822;
      font-weight: bold;
    }
    .highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
      color: #ae81ff;
    }
    .highlight .kc {
      color: #fd971f;
    }
    .highlight .kt {
      color: #fd971f;
    }
    .highlight .kd {
      color: #fd971f;
    }
    .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
      color: #a6e22e;
    }
    .highlight .sr {
      color: #a1efe4;
    }
    .highlight .si {
      color: #cc6633;
    }
    .highlight .se {
      color: #cc6633;
    }
    .highlight .nn {
      color: #f4bf75;
    }
    .highlight .nc {
      color: #f4bf75;
    }
    .highlight .no {
      color: #f4bf75;
    }
    .highlight .na {
      color: #66d9ef;
    }
    .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
      color: #a6e22e;
    }
    .highlight .ss {
      color: #a6e22e;
    }
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix {
    /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    *zoom: 1;

    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}
