{{ define "main" }}
{{ partial "single/meta" . }}
<article class="post-content">
    <h1 id="{{ .Title | urlize }}">{{ .Title }}</h1>

    {{if .Params.recipe_link -}}
    <p class="kitchen-source">
        <a href="{{ .Params.recipe_link }}" target="_blank">Recipe{{if .Params.recipe_source }} from {{ .Params.recipe_source }}{{ end }}</a>
    </p>
    {{- end }}

    {{- replace (replace .Content "</table>" "</table></div>") "<table" "<div class='table'><table" | safeHTML -}}

    <p style="display: flex; flex-wrap: wrap;">
    {{ range .Resources -}}
    {{ if eq .MediaType.MainType "image" -}}
        <a href="{{ .RelPermalink }}" class="a-no-border" style="margin-bottom: 1em; margin-right: 1em;">
            {{- partial "img" (dict "Resource" . "height" 300) -}}
        </a>
    {{- end -}}
    {{ if eq .MediaType.MainType "video" -}}
        <video controls height="300" style="margin-bottom: 1em; margin-right: 1em;" src="{{ .RelPermalink }}" alt="{{ .Title }}"></video>
    {{- end -}}
    {{- end -}}
    </p>
</article>
{{ end }}
