<aside class="chaser">
    <p>
        Thanks for reading! I'm <a href="/about/">{{ .Site.Params.Author.name }}</a>,
        a software developer from the Pacific Northwest living in the high desert of
        <span style="white-space: nowrap"></span>Taos, New Mexico</span>.
    </p>
    <p>
        <a href="mailto:cameron@camlittle.com?subject={{ .Title | urlquery }}">Email me</a> if you have any comments and <!--
            This social-links span matches the id in the header. If your content
            blocker blocks one, it'll likely block the other and prevent a
            busted looking link
        --><span class="social-links"> follow me on <a href="/about#social-media">social media</a></span>.
    </p>
</aside>
