<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}'s Website</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="Cameron Little">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" type="text/css" media="screen">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
