<header>
    <h1>
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        <small>
            <a href="https://github.com/apexskier"><i class="icon-github"></i></a>
            <a href="https://twitter.com/apexskier"><i class="icon-twitter"></i></a>
            <a href="https://www.youtube.com/camapexskier"><i class="icon-youtube"></i></a>
            <a href="https://vimeo.com/apexskier"><i class="icon-facetime-video"></i></a>
            <a href="http://www.linkedin.com/in/camlittle"><i class="icon-linkedin"></i></a>
        </small>
    </h1>
</header>
