<!doctype html>
<html lang="{{ .Site.Language }}" data-type="{{ .Page.Type }}" data-kind="{{ .Page.Kind }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="bun" class="bun" style="display: none">
            {{ with resources.Get "bunny/top.svg" | fingerprint "md5" }}
            <img src="{{ .RelPermalink }}" height="40" width="33" alt="" />
            {{ end }}
        </div>
        <div id="bun-paws" class="bun" style="display: none">
            {{ with resources.Get "bunny/paws.svg" | fingerprint "md5" }}
            <img src="{{ .RelPermalink }}" height="40" width="33" alt="" />
            {{ end }}
        </div>
        <div id="wrapper"><!-- contains orange triangle -->
            <div id="container"><!-- max-width, centered content -->
                <div id="notch"><!-- safe area inset padding -->
                    <div id="content"><!-- responsive design -->
                        <div id="headerish">
                            {{- partial "header.html" . -}}
                            {{- partial "primaryNavigation.html" . -}}
                        </div>
        
                        <main id="main">{{ block "main" . }}{{ end }}</main>
                    </div>
        
                    {{- partial "footer.html" . -}}
                </div>
            </div>
        </div>
        <div id="bun-butt" class="bun" style="display: none">
            {{ with resources.Get "bunny/butt.svg" | fingerprint "md5" }}
            <img src="{{ .RelPermalink }}" height="16" width="37" alt="" />
            {{ end }}
        </div>
    </body>
</html>
