<!doctype html>
<html lang="{{ .Site.Language }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="bun" class="bun" style="display: none">
            {{ with resources.Get "bunny/top.svg" | fingerprint "md5" }}
            <img src="{{ .RelPermalink }}" height="40" alt="" />
            {{ end }}
        </div>
        <div id="bun-paws" class="bun" style="display: none">
            {{ with resources.Get "bunny/paws.svg" | fingerprint "md5" }}
            <img src="{{ .RelPermalink }}" height="40" alt="" />
            {{ end }}
        </div>
        <div id="wrapper">
            <div id="container">
                <div id="content">
                    <div id="headerish">
                        {{- partial "header.html" . -}}
                        {{- partial "primaryNavigation.html" . -}}
                    </div>
    
                    <main id="main">{{ block "main" . }}{{ end }}</main>
                </div>
    
                {{- partial "footer.html" . -}}
            </div>
        </div>
        <div id="bun-butt" class="bun" style="display: none">
            {{ with resources.Get "bunny/butt.svg" | fingerprint "md5" }}
            <img src="{{ .RelPermalink }}" height="16" alt="" />
            {{ end }}
        </div>
    </body>
</html>
