<!doctype html>
<html lang="{{ .Site.Language }}">
    {{- partial "head.html" . -}}
    <body>
        <div id="easter-bun" class="easter-bun">
            <img src="/easter-bunny-top.svg" height="40" />
        </div>
        <div id="easter-bun-paws" class="easter-bun">
            <img src="/easter-bunny-paws.svg" height="40" />
        </div>
        <div id="wrapper">
            <div id="container">
                <div id="content">
                    <div id="headerish">
                        {{- partial "header.html" . -}}
                        {{- partial "primaryNavigation.html" . -}}
                    </div>
    
                    <main id="main">{{- block "main" . }}{{- end }}</main>
                </div>
    
                {{- partial "footer.html" . -}}
            </div>
        </div>
        <div id="easter-bun-butt" class="easter-bun">
            <img src="/easter-bunny-butt.svg" height="16" />
        </div>
    </body>
</html>
