/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
small,
strike,
tt,
var,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

:root {
  --background: #fff;
  --muted: #999;
  --body-text: #222;
  --text: #333;
  --text-hover: #000;
  --anchor: darkslateblue;
  --anchor-engaged: slateblue;
  --anchor-visited: darkmagenta;
  --callout-bg: #f8f8f8;

  --minimal-box-shadow: 0 0 1px rgba(0, 0, 80, 0.08),
    0 2px 2px rgba(0, 0, 80, 0.08), 0 4px 4px rgba(0, 0, 80, 0.03),
    0 8px 8px rgba(0, 0, 80, 0.03), 0 16px 16px rgba(0, 0, 80, 0.03);
  --inset-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --highlight-box-shadow: 0 1px 10px rgba(255, 165, 0, 0.6),
    0 1px 4px rgba(255, 165, 0, 0.2);

  --copy-spacing: 1em;
  --copy-spacing-sm: 4px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --muted: #666;
    --body-text: #ddd;
    --text: #ccc;
    --text-hover: #fff;
    --anchor: skyblue;
    --anchor-engaged: fuchsia;
    --anchor-visited: violet;
    --callout-bg: #121212;
  }
}

a {
  color: var(--anchor);

  &:focus,
  &:hover,
  &:active {
    color: var(--anchor-engaged);
  }

  &:visited {
    color: var(--anchor-visited);
  }

  &.no-border {
    &,
    &:visited {
      border-bottom: none;
    }
  }
}

html {
  scroll-behavior: smooth;

  &::before {
    z-index: -1;
    position: fixed;
    /* height: 100vh; */
    /* this is a weird hack to fix the fact that desktop chrome adds un-accounted for vertical space at the bottom of the page
       for my bottom bunny image, even though it's contain in a zero-height wrapper.
       Other browsers (Safari, iOS Safari, Firefox) don't do this, but this doesn't appear to hurt them
    */
    height: calc(100vh - 16px);
    width: 100vw;
    content: "";

    background-color: rgba(255, 165, 0, 0.6);
  }
}

body {
  background-color: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--body-text);
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
}

#wrapper {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
  /* orange triangle, this used to be a pseudo element, but I want it relative to the body, not #container and I don't want it to overlay content */
  background-image: linear-gradient(
      45deg,
      transparent 25%,
      transparent 25%,
      transparent 75%,
      transparent 75%,
      transparent
    ),
    linear-gradient(
      -45deg,
      transparent 25%,
      transparent 25%,
      transparent 75%,
      rgba(255, 165, 0, 0.08) 75%,
      rgba(255, 165, 0, 0.08)
    );
  background-size: 600px 600px;
  background-repeat: no-repeat;
}

.bun {
  position: sticky;
  text-align: center;
  z-index: -1;
  height: 0px;
}
.bun img {
  z-index: -1;
  display: block; /* don't add extra whitespace to height */
  margin: 0 auto;
}
/* !important here overrides inline display: none, which is used
to prevent this showing up on first load before the main css has loaded */
#bun {
  display: block !important;
  top: 150px;
  transform: translateY(-40px); /* height of image */
}
#bun-paws {
  display: block !important;
  top: 120px;
  transform: translateY(-40px); /* height of image */
}
#bun-butt {
  display: block !important;
  bottom: 150px;
}

/* Media query debugging... (used for responsive image testing) */
/*
@media (min-width: 480px) {
  body {
    background-color: red;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 480px) {
  body {
    background-color: pink;
  }
}
@media (min-width: 768px) {
  body {
    background-color: green;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 768px) {
  body {
    background-color: greenyellow;
  }
}
@media (min-width: 992px) {
  body {
    background-color: blue;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 992px) {
  body {
    background-color: lightblue;
  }
}
@media (min-width: 1200px) {
  body {
    background-color: purple;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-width: 1200px) {
  body {
    background-color: plum;
  }
}
*/

*:target {
  border-radius: 3px;
  background-color: var(--text);
  color: var(--background);
  padding: var(--copy-spacing-sm) 0.4em;
  box-shadow: var(--highlight-box-shadow);
  width: max-content;

  & a {
    &,
    &:focus,
    &:hover,
    &:visited {
      color: var(--background);
      display: inline-block;
      margin-bottom: 1px;
    }
  }
}

li:target {
  display: list-item;
  color: var(--text);

  max-width: fit-content;
  margin-bottom: var(--copy-spacing);

  & *:last-child {
    margin-bottom: 0;
  }

  & * {
    color: var(--background);
  }
}

#container {
  width: auto;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em;
}

#primary-header {
  text-align: center;

  @media only screen and (min-width: 45em) {
    text-align: left;
    margin-bottom: 1em;
  }

  & h1 {
    color: var(--text);
    font-size: 300%;
    font-weight: 200;
    font-family: Georgia, serif;
    padding: 0;
    margin: 0;

    & a {
      &,
      &:visited,
      &:focus,
      &:hover {
        color: var(--text);
        text-decoration: none;
        border-bottom: none;
      }

      &:hover {
        color: var(--text-hover);
      }
    }

    & img {
      border-radius: 100%;
      border-top-left-radius: 0;
    }
  }
}

h1 {
  font-size: 170%;
  font-weight: 300;
  font-family: Georgia, serif;
  margin-bottom: 0.5em;

  & a {
    &,
    &:visited {
      color: var(--text);
      text-decoration: none;
      border-bottom: none;
    }

    &:focus,
    &:hover {
      color: var(--text);
      text-decoration: none;
      border-bottom: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;

  & .heading-link {
    border-bottom: none;

    &::before {
      opacity: 0;
      content: "🔗";
      font-size: 12px;
      position: absolute;
      transform: translateX(-100%);
      padding: 4px;
      height: 100%;
      box-sizing: border-box;
      transition: opacity 60ms ease-in-out;
    }
  }

  &:hover,
  &:focus {
    & .heading-link::before {
      opacity: 1;
    }
  }

  &:target .heading-link {
    display: none;
  }
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--copy-spacing);
  margin-bottom: 1rem;
  font-weight: 400;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 117%;
}

h6 {
  font-size: 108%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: var(--copy-spacing) 0;
  padding: 0;
  border-top: 1px solid var(--text);
}

small {
  font-size: 80%;
}

sub,
sup {
  line-height: 1;
}

input[type="submit"] {
  line-height: 20px;
  color: #fdf6e3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #cb4b16;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 3px 4px 2px;
}

#headerish {
  text-align: center;
  margin-bottom: var(--copy-spacing);
  font-family: Georgia, serif;

  & ul {
    margin: 0;
    padding-left: 0;

    & > li {
      display: block;
      margin-left: 0;
      margin-bottom: 0.2em;
    }
  }
}

@media only screen and (min-width: 45em) {
  #content {
    display: flex;

    & #headerish {
      text-align: left;
      margin-right: var(--copy-spacing);
      width: 12em;
      flex-shrink: 0;
    }

    & main {
      flex: 1;
      min-width: 0; /* don't allow overflow */
    }
  }
}

nav.primary-nav,
nav.social-links,
nav.pagination-nav {
  color: var(--text);
  font-size: 120%;

  & .mobile-toggle-off,
  & .links {
    display: none;
  }

  & .mobile-toggle {
    display: none;

    &:checked {
      & ~ .mobile-toggle-on {
        display: none;
      }

      & ~ .mobile-toggle-off,
      & ~ .links {
        display: initial;
      }
    }
  }

  @media only screen and (min-width: 45em) {
    &,
    & .mobile-toggle:checked ~ {
      & .mobile-toggle-on,
      & .mobile-toggle-off {
        display: none;
      }

      & .links {
        display: initial;
      }
    }
  }

  & a {
    border-bottom: none;
    text-decoration: none;
    color: var(--text);
    background-position-x: 0;

    &:visited {
      color: var(--text);
      border-bottom: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      color: var(--text-hover);
      border-bottom: none;
    }
  }
}

nav.social-links {
  display: inline-block;
  line-height: 0;

  & svg {
    height: 20px;

    & path {
      fill: var(--text);
    }
  }

  & a {
    margin-right: 0.5em;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    &:focus,
    &:hover {
      & svg path {
        fill: var(--text-hover);
      }
    }
  }
}

.lead {
  font-size: 120%;
}

.posts {
  margin: 0;
  padding: 0;

  & .post-link {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    display: flex;

    & time {
      margin: 0;
    }

    & h3 {
      margin: 0;
    }
  }

  & .thumbnail {
    margin-right: var(--copy-spacing);
    margin-bottom: 0;
    box-shadow: var(--minimal-box-shadow);
    border-radius: 3px;
    width: 66px;
    height: 66px;
  }
}

.chaser {
  margin-top: calc(var(--copy-spacing) * 3);
  box-shadow: var(--inset-box-shadow);
  background-color: var(--callout-bg);
  padding: var(--copy-spacing);

  & *:last-child {
    margin-bottom: 0;
  }
}

main {
  & img,
  & video {
    max-width: 100%;
    height: auto;
  }

  & p,
  & blockquote,
  & img,
  & video,
  & pre,
  & figure,
  & table,
  & details {
    margin-bottom: var(--copy-spacing);
  }

  & ul,
  & ol {
    margin-left: var(--copy-spacing);
    margin-bottom: var(--copy-spacing);
  }

  & ul li {
    list-style: disc;

    & li {
      list-style: circle;

      & li {
        list-style: square;

        & li {
          list-style: disc;
        }
      }
    }
  }

  & li {
    margin-left: var(--copy-spacing);
    margin-bottom: var(--copy-spacing-sm);

    & ul,
    & ol {
      margin-left: 0;
      margin-bottom: var(--copy-spacing-sm);

      &:first-child {
        margin-top: var(--copy-spacing-sm);
      }
    }

    & li {
      margin-bottom: 0;
    }
  }

  & ol li {
    list-style: decimal;

    & li {
      list-style: lower-latin;

      & li {
        list-style: lower-roman;

        & li {
          list-style: decimal;
        }
      }
    }
  }

  & p {
    & img,
    & video {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & .post-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;

    & li {
      margin-right: 1em;
      margin-left: 0;
      margin-bottom: 0;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }

    & img {
      margin-bottom: 0;
    }
  }
}

iframe {
  max-width: 100%;
}

blockquote {
  background-color: var(--callout-bg);
  box-shadow: var(--inset-box-shadow);
  padding: var(--copy-spacing);
  margin-left: var(--copy-spacing);
  margin-right: var(--copy-spacing);
  display: inline-block;

  & > *:last-child {
    margin-bottom: 0;
  }
}

table {
  display: block;
  max-width: 100%;

  & thead,
  & th {
    font-weight: bold;
  }

  & th,
  & td {
    padding: 6px 14px;
  }

  & th {
    text-align: left;
  }

  & tbody tr {
    background-color: var(--background);
    border: 1px solid var(--muted);

    &:nth-child(odd) {
      background-color: var(--callout-bg);
    }
  }

  thead {
    & tr {
      background-color: var(--background);
    }
  }

  img {
    background-color: transparent;
  }
}

dl {
  & dt {
    font-weight: bold;
    margin-bottom: var(--copy-spacing-sm);
  }

  & dd {
    margin-bottom: var(--copy-spacing-sm);
    margin-left: var(--copy-spacing);

    &:last-child {
      margin-bottom: var(--copy-spacing);
    }
  }
}

footer,
.footnotes {
  font-size: 90%;
}

footer {
  margin-top: calc(var(--copy-spacing) * 3);
  text-align: left;
}

article {
  line-height: 1.5;

  /* try to keep things readable
   * https://baymard.com/blog/line-length-readability
  */
  &,
  & > details {
    & > * {
      max-width: 520px;
    }

    & > details,
    & > .table,
    & > .highlight,
    & > .full-width {
      max-width: calc(100% + 1.5em * 2);
      overflow: auto;
      margin-left: -1.5em;
      margin-right: -1.5em;

      @media only screen and (min-width: 45em) {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  & details {
    padding-left: var(--copy-spacing);

    & > summary {
      cursor: pointer;
      margin-bottom: var(--copy-spacing-sm);

      & > *:only-child {
        display: inline;
      }
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  & img,
  & video {
    box-shadow: var(--minimal-box-shadow);
    border-radius: 3px;
  }

  .kitchen-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% + 1.5em * 2);
    overflow: auto;

    @media only screen and (min-width: 45em) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    > * {
      display: block;
      margin-right: 1em;
    }
  }

  & canvas {
    border: 1px solid var(--text);
    box-shadow: var(--minimal-box-shadow);
  }
}

.meta {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--copy-spacing) / 2);
  padding-bottom: calc(var(--copy-spacing) / 2- var(--copy-spacing-sm));
  background-color: var(--callout-bg);
  box-shadow: var(--inset-box-shadow);
  border-radius: 3px;
  margin-bottom: var(--copy-spacing);

  & > *,
  & > time {
    margin-bottom: var(--copy-spacing-sm);
  }

  & > .tags {
    margin-bottom: 0;
  }

  & > time {
    font-size: 90%;
    white-space: nowrap;
  }

  & .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* -4px here offsets tag margins */
    margin-right: -4px;
    margin-left: 0;

    & li {
      display: inline-block;
      margin-left: 0;
      list-style: none;
    }
  }
}

@media only screen and (min-width: 45em) {
  .meta {
    float: right;
    padding: var(--copy-spacing);
    margin-left: var(--copy-spacing);
    flex-direction: column;
    max-width: min-content;
    text-align: right;
    align-items: flex-end;

    & > *:last-child {
      margin-bottom: 0;
    }

    & .tags {
      margin-bottom: -4px;

      & .tag {
        margin-bottom: 4px;
      }
    }
  }
}

.highlight .chroma,
pre {
  border-radius: 3px;
}

blockquote .highlight:last-child .chroma {
  margin-bottom: 0;
}

blockquote .highlight:only-child {
  margin: calc(-1 * var(--copy-spacing));
}

h1 .tag,
.tag {
  background-color: var(--text);
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  white-space: nowrap;
  border-radius: 2px;
  box-shadow: var(--minimal-box-shadow);

  &,
  & a {
    color: var(--background);
  }

  & a {
    display: inline-block;
    font-size: 90%;
    margin: 0 4px 4px;
  }

  &:hover,
  &:focus {
    background-color: var(--text-hover);
  }
}

h1 .tag {
  padding: 0 4px;
  margin: 0;
}

/* https://stackoverflow.com/a/40815884/2178159
 * attr() isn't supported in calc(), so this is a cool hack
 */
[data-count-percent="0"] {
  --count-percent: 0%;
}
[data-count-percent="1"] {
  --count-percent: 10%;
}
[data-count-percent="2"] {
  --count-percent: 20%;
}
[data-count-percent="3"] {
  --count-percent: 30%;
}
[data-count-percent="4"] {
  --count-percent: 40%;
}
[data-count-percent="5"] {
  --count-percent: 50%;
}
[data-count-percent="6"] {
  --count-percent: 60%;
}
[data-count-percent="7"] {
  --count-percent: 70%;
}
[data-count-percent="8"] {
  --count-percent: 80%;
}
[data-count-percent="9"] {
  --count-percent: 90%;
}
[data-count-percent="10"] {
  --count-percent: 100%;
}

.all-tags {
  margin-left: 0;

  & li.tag {
    margin-left: 0;
  }

  & .tag[data-count-percent] {
    background-color: hsl(0, 0%, calc((100% - var(--count-percent)) * 0.25));
    @media (prefers-color-scheme: dark) {
      background-color: hsl(0, 0%, calc(var(--count-percent) * 0.25 + 75%));
    }
  }
}

ul.pagination {
  margin: 0;
  font-variant-numeric: tabular-nums;

  & li {
    margin: 0;
    list-style: none;
    display: inline;
  }

  & .active {
    font-weight: bold;
  }
}

pre,
code {
  font-family: monospace;
}

pre {
  padding: 0.5em 1em;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  /* matches chroma styling colors */
  background-color: #f0f3f3;
  @media (prefers-color-scheme: dark) {
    background-color: #202020;
  }
}

code {
  border-radius: 3px;
  background-color: var(--callout-bg);
  padding: 2px 4px;
}

pre code {
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.kitchen-source {
  padding: 1em;
  background-color: var(--callout-bg);
  display: inline-block;
  font-size: 120%;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix {
  /*
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
  *zoom: 1;

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}
