/*
Most of this relates to css scroll snapping, which is pretty cool
One big issue is dealing with vh and the toolbar/header resizing on iOS. I haven't really done much
but hope Apple makes it better
*/

/* Ensure the body element scrolls. In Chrome it's the html element by default; in Safari it's body */
html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: scroll;
  position: relative;
  scroll-snap-type: block mandatory;
  height: 100%;
}

#container {
  padding-top: 0;
}

@media only screen and (min-width: 45em) {
  #content {
    & #headerish {
      margin-right: 0;
      position: absolute;
    }

    & main {
      text-align: center;
    }

    & .photo-item:first-of-type {
      margin-left: calc(12em + var(--copy-spacing));
    }
  }

  /*
	NOTE:
	there's really weird behavior in chrome when two elements have scroll snapping
	at the same position (e.g. header in sidebar and top image)
	To avoid this, disable scroll snapping on one of them
	*/
  .photo-item {
    justify-content: flex-start;
  }
}

#headerish {
  padding-top: 1.5em;
  scroll-snap-align: start;

  @media only screen and (min-width: 45em) {
    & > * {
      opacity: 0.2;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

footer {
  scroll-margin-bottom: 1.5em;
  scroll-snap-align: end;
}

.photo-item {
  scroll-snap-align: start;
  padding-top: 6vh;
  padding-bottom: 6vh;
  height: calc(100vh - 12vh);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  &:first-of-type {
    /* scroll-snap-align: start; */
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  & picture {
    max-width: initial;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  & a {
    display: block;
    width: 100%;
    max-height: 100%;
  }

  & img {
    width: 100%;
  }
}

.scroll-bottom-stopper {
  scroll-snap-stop: always;
  scroll-snap-align: end;
}
