<aside class="chaser">
    <p>
        Thanks for reading! I'm <a href="/about/">{{ .Site.Author.name }}</a>,
        a software developer from the Pacific Northwest living in Kraków, Poland.
    </p>

    <p>
        You might be interested in my <a href="/posts/">other posts</a><!--
            This social-links span matches the id in the header. If your content
            blocker blocks one, it'll likely block the other and prevent a
            busted looking link
        --><span class="social-links"> or following me on <a href="/about#social-media">social media</a></span>.
    </p>
</aside>
