<header id="primary-header">
    <h1>
        <a href="{{ relref . "/" }}">
            <picture title="{{ $.Site.Author.name }}">
                <source
                    media="(-webkit-min-device-pixel-ratio: 3)"
                    srcset="/profile.jpg?s=288"
                />
                <source
                    media="(-webkit-min-device-pixel-ratio: 2)"
                    srcset="/profile.jpg?s=192"
                />
                <img
                    height="96" width="96"
                    src="/profile.jpg?s=96"
                    alt="{{ $.Site.Author.name }}"
                />
            </picture>
        </a>
    </h1>
</header>
