<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ with .Site.Params.email -}}
    <link rel="icon" type="image/png" href="//www.gravatar.com/avatar/{{ . | lower | md5 }}.png?s=32">
    {{ end -}}

    {{ template "_internal/schema.html" . }}
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="{{ .Permalink }}">

    {{ $style := resources.Get "css/main.css" | postCSS | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ $highlight_light_style := resources.Get "css/highlight_light.css" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $highlight_light_style.RelPermalink }}">
    {{ $highlight_dark_style := resources.Get "css/highlight_dark.css" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $highlight_dark_style.RelPermalink }}" media="(prefers-color-scheme: dark)">
    {{ range .Page.Resources.ByType "css" -}}
    {{ $style := . | postCSS | toCSS | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ end -}}

    {{ with .OutputFormats.Get "RSS" -}}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end -}}

    {{ template "_internal/opengraph.html" . }}
</head>
