<header>
    <h1>
        <a href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a>
        <small>
            <a href="https://github.com/apexskier"><i title="GitHub" class="fab fa-github"></i></a>
            <a href="https://instagram.com/apexskier"><i title="Instagram" class="fab fa-instagram"></i></a>
            <a href="https://www.strava.com/athletes/14856714"><i title="Strava" class="fab fa-strava"></i></a>
            <a href="https://www.gaiagps.com/profile/13832/Cameron/"><i title="Gaia GPS" class="fas fa-map"></i></a>
            <a href="https://twitter.com/apexskier"><i title="Twitter" class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/camapexskier"><i title="YouTube" class="fab fa-youtube"></i></a>
            <a href="https://vimeo.com/apexskier"><i title="Vimeo" class="fab fa-vimeo-v"></i></a>
            <a href="https://www.linkedin.com/in/camlittle"><i title="LinkedIn" class="fab fa-linkedin"></i></a>
        </small>
    </h1>
</header>
