{{ $img := .Resource }}
{{ $alt := default $img.Title .alt }}
{{ if eq $img.MediaType.MainType "video" }}
  {{/* safari has some weird bugs with video element styling */}}
  <video autoplay controls height="300" style="height: 300px;" alt="{{ $alt }}">
      {{ with $img | fingerprint "md5" }}
      <source src="{{ .RelPermalink }}" />
      {{ end }}
  </video>
{{ else if ne $img.MediaType.SubType "svg" }}
  {{ $h := default $img.Height .height }}
  {{ $w := default $img.Width .width }}
  {{/* don't use larger dimensions than intrinsic */}}
  {{ if gt $h $img.Height }}
    {{ $h = $img.Height }}
  {{ end }}
  {{ if gt $w $img.Width }}
    {{ $w = $img.Width }}
  {{ end }}
  {{/* get width if only height explicitly specified */}}
  {{ if (and (not $w) $h) }}
    {{ $w = mul $h (div $img.Width (float $img.Height)) }}
  {{ end }}
  {{/* get height if only width explicitly specified */}}
  {{ if (and (not $h) $w) }}
    {{ $h = mul $w (div $img.Height (float $img.Width)) }}
  {{ end }}

  {{ $colorRegex := "(.+)\\.(dark|light)\\.(.+)" }}
  {{ $filenameColor := (gt (len (findRE $colorRegex $img.Name)) 0) }}
  {{ $darkFile := (index . "$").Page.Resources.GetMatch (replaceRE $colorRegex "$1.dark.$3" $img.Name) }}
  {{ $lightFile := (index . "$").Page.Resources.GetMatch (replaceRE $colorRegex "$1.light.$3" $img.Name) }}
  {{ $colorSupport := and $filenameColor $darkFile $lightFile }}
  {{ $widths := (index . "$").Page.Site.Data.imageSources.widths }}

  <picture title="{{ $alt }}">
      {{/* order matters here - but it's behaving in reverse of the equivalent css */}}
      {{ if $colorSupport }}
        {{ with $img := $darkFile }}
          {{ $hash := .Content | md5 }}
          {{ range $_, $x := $widths }}
            {{ partial "imgSource" (dict "img" $img "hash" $hash "x" $x "h" $h "w" $w "Color" "dark") }}
          {{ end }}
        {{ end }}
        {{ with $img := $lightFile }}
          {{ $hash := .Content | md5 }}
          {{ range $_, $x := $widths }}
            {{ partial "imgSource" (dict "img" $img "hash" $hash "x" $x "h" $h "w" $w "Color" "light") }}
          {{ end }}
        {{ end }}
      {{ else }}
        {{ $hash := $img.Content | md5 }}
        {{ range $_, $x := $widths }}
          {{ partial "imgSource" (dict "img" $img "hash" $hash "x" $x "h" $h "w" $w ) }}
        {{ end }}
      {{ end }}
      <img
          {{ if .height }}height="{{ $h }}"{{ end }}
          {{ if .width }}width="{{ $w }}"{{ end }}
          style="{{ if .height }}max-height: {{ $h }}px;{{ end }}{{ if .width }}max-width: {{ $w }}px;{{ end }}"
          src="{{ ($img | fingerprint "md5").RelPermalink }}"
          alt="{{ $alt }}"
      />
  </picture>
{{ else }}
  <img src="{{ $img.RelPermalink }}" alt="{{ $alt }}" />
{{ end }}
