<nav aria-label="Primary menu" class="primary-nav">
    <input class="mobile-toggle" type="checkbox" id="menu-toggle">
    <label class="mobile-toggle-on" for="menu-toggle">Menu</label>
    <label class="mobile-toggle-off" for="menu-toggle">Close</label>
    <ul class="links">
        {{- $currentPage := . }}
        <li><a href="{{ relref . "/" }}" title="Home">Home</a> {{ if .IsHome }}<span aria-label="Active"> ⇐</span>{{ end }}</li>
        {{ range .Site.Menus.main -}}
        <li>{{- "" -}}
            <a href="{{ .URL }}">{{ .Title }}</a>
            {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
            <span aria-label="active"> ⇐</span>
            {{- end -}}
        </li>
        {{ end }}
        {{ with .Site.GetPage "/posts" }}
        <li>{{- "" -}}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- if eq . $ }}<span aria-label="active"> ⇐</span>{{ end -}}
        </li>
        {{ end }}
        {{ with .Site.GetPage "/kitchen" }}
        <li>{{- "" -}}
            <a href="{{ .RelPermalink }}">In the kitchen</a>
            {{- if eq . $ }}<span aria-label="active"> ⇐</span>{{ end -}}
        </li>
        {{ end }}
        {{ range where .Site.Pages "Kind" "taxonomyTerm" -}}
        <li>{{- "" -}}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- if eq . $ }}<span aria-label="active"> ⇐</span>{{ end -}}
        </li>
        {{ end }}
    </ul>
</nav>
