<aside id="sidebar">
    <nav aria-label="Primary menu">
        <input class="mobile-toggle" type="checkbox" id="menu-toggle">
        <label class="mobile-toggle" for="menu-toggle">Menu</label>
        <label class="mobile-toggle-off" for="menu-toggle">Close</label>
        <ul class="links">
            {{- $currentPage := . }}
            <li><a href="{{ .Site.BaseURL }}" title="Home">Home</a> {{ if .IsHome }}<span aria-label="Active">←</span>{{ end }}</li>
            {{ range .Site.Menus.main -}}
            <li>{{- "" -}}
                <a href="{{ .URL }}">{{ .Title }}</a>
                {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
                <span aria-label="active"> ←</span>
                {{- end -}}
            </li>
            {{ end }}
            {{ $taxonomies := where .Site.Pages "Kind" "taxonomyTerm" -}}
            {{ $sections := (where .Site.Pages "Kind" "section") | intersect (where .Site.Pages "Type" "!=" "pages") -}}
            {{ range $taxonomies | union $sections -}}
            <li>{{- "" -}}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{- if eq . $ }}<span aria-label="active"> ←</span>{{ end -}}
            </li>
            {{ end }}
        </ul>
    </nav>
</aside>
