<nav aria-label="Social links" class="social-links">
	<a href="https://github.com/apexskier" title="GitHub">
		{{ (resources.Get "social_icons/fa-github.svg").Content | safeHTML }}
	</a>
	<a href="https://www.strava.com/athletes/14856714" title="Strava">
		{{ (resources.Get "social_icons/fa-strava.svg").Content | safeHTML }}
	</a>
	<a href="https://www.gaiagps.com/profile/13832/Cameron/" title="Gaia GPS">
		{{ (resources.Get "social_icons/custom-gaia.svg").Content | safeHTML }}
	</a>
	<a href="https://codepen.io/apexskier/" title="CodePen">
		{{ (resources.Get "social_icons/fa-codepen.svg").Content | safeHTML }}
	</a>
	<a href="https://stackoverflow.com/users/2178159/" title="Stack Overflow">
		{{ (resources.Get "social_icons/fa-stack-overflow.svg").Content | safeHTML }}
	</a>
	<a href="https://www.youtube.com/camapexskier" title="YouTube">
		{{ (resources.Get "social_icons/fa-youtube.svg").Content | safeHTML }}
	</a>
	<a href="https://vimeo.com/apexskier" title="Vimeo">
		{{ (resources.Get "social_icons/fa-vimeo-v.svg").Content | safeHTML }}
	</a>
	<a href="https://www.linkedin.com/in/camlittle" title="LinkedIn">
		{{ (resources.Get "social_icons/fa-linkedin.svg").Content | safeHTML }}
	</a>
</nav>
