{{ define "main"}}
<p class="lead">{{ .Site.Params.Description }}</p>

{{/*
The featured pages on the home page can have as many posts as are available, but
only one of other types of content.
*/}}
{{ $featuredPages := slice }}
{{ $featuredTypes := dict }}
{{ range .Site.RegularPages.ByDate.Reverse }}
    {{ if lt (len $featuredPages) 5 }}
        {{ if or (eq .Type "posts") (not (isset $featuredTypes .Type)) }}
            {{ $featuredPages = $featuredPages | append  . }}
            {{ $featuredTypes = merge $featuredTypes (dict .Type true) }}
        {{ end }}
    {{ end }}
{{ end }}
<ul class="posts">
    {{ range $featuredPages }}
        {{ if eq .Type "photos" }}
        <li class="post-link">
            {{ partial "single/thumbnail" (.Resources.GetMatch "*_128.jpg") }}
            <div>
                {{ partial "time" (default .Params.captureDate .Date) }}
                <h3>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
            </div>
        </li>
        {{ else }}
            {{ .Render "li" }}
        {{ end }}
    {{ end }}
</ul>
{{ end }}
